#backgroundimage {
    height: 100vh;
    background-image: url(/assets/images/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tattooPreview {
    text-align: center;
}

@font-face {
    font-family: 'Sketch';
    src: url('/assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
}

h1 {
    font-family: sketch;
    font-size: 90px;
}

h3{
    font-family: sketch;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Cambia los valores según desees */
  }